[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
yfinance = "*"
djoser = "*"
celery = "*"
redis = "*"
pycountry = "*"
retrying = "*"
requests = "*"
numexpr = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
