[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
yfinance = "*"
djoser = "*"
redis = "*"
pycountry = "*"
retrying = "*"
requests = "*"
numexpr = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
simpleeval = "*"
asteval = "*"
celery = {extras = ["redis"], version = "*"}

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.12"
