{% extends "admin/base_site.html" %} {% load static i18n %} {% block content %}
<div class="module">
  <h2>Add Custom Column for "{{ schema.name }}"</h2>

  <form method="post" novalidate>
    {% csrf_token %}
    <fieldset class="module aligned">{{ form.as_p }}</fieldset>
    <div class="submit-row">
      <input type="submit" value="Add Column" class="default" />
      <a
        href="{% url 'admin:schemas_schema_change' schema.id %}"
        class="button cancel-link"
        >Cancel</a
      >
    </div>
  </form>
</div>
{% endblock %}
